* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  overflow: hidden;
  position: relative;
  font-family: "Muli", sans-serif;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: 0.4s;
}

body::before {
  content: "";
  position: absolute;
  display: block;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
}

.container {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  position: relative;
  width: 70vw;
  height: 70vh;
  overflow: hidden;
}
.slider {
  position: absolute;
  left: -15vw;
  top: -15vh;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0;
  transition: 1s ease;
  z-index: 1;
}

.slider.active {
  opacity: 1;
}
