* {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  overflow: hidden;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e9e9e9;
}

.game-container {
  width: 500px;
  height: 500px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2), 0 0 10px rgba(0, 0, 0, 0.2);
}
