* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Muli", sans-serif, Helvetica;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.range-container {
  position: relative;
  z-index: 0;
  width: 300px;
  user-select: none;
}
.range-container .range-nav {
  --navHeight: 10px;
  position: relative;
  z-index: -1;
  width: 100%;
  height: var(--navHeight);
  background-color: peru;
  border-radius: 10px;
  margin: 10px 0;
}
.range-container .range-nav .range-navControl {
  --radius: 20px;
  position: absolute;
  z-index: 1;
  width: var(--radius);
  height: var(--radius);
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  left: calc(var(--radius) / 2 * -1);
  top: calc((var(--radius) - var(--navHeight)) / 2 * -1);
  transform: translateX(calc(var(--x, 0) * 1px));
}
.range-navControl-label {
  position: absolute;
  display: inline-block;
  padding: 5px 20px;
  width: var(--labelWidth);
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2), 0 0 10px 0 rgba(0, 0, 0, 0.2);
  transform: translate(calc(-50% + var(--radius) / 2), -125%);
  border-radius: 5px;
  user-select: none;
  cursor: pointer;
}
